.contentContainer {
	max-width: 1380px;
	margin: 0 auto;
}

.backButton {
	font-size: 30px;
	color: #888888;
	display: flex;
	align-items: center;
	gap: 15px;
	margin: 45px 0;
	width: fit-content;

	> img {
		width: 32px;
		height: 32px;
	}
}

.productContainer {
	display: flex;
	gap: 72px;
	margin-bottom: 60px;

	.productInfo {
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		height: 580px;
	}

	.productCategory {
		font-size: 24px;
		color: #888888;
		padding-bottom: 4px;
		width: fit-content;
		border-bottom: 1.5px solid #888888;
		margin-bottom: 20px;
	}

	.productTitle {
		font-size: 40px;
		font-family: 'Etude Noire Light';
		margin-bottom: 20px;
	}

	.productDescriptionTitle {
		font-size: 24px;
		font-family: 'Etude Noire Light';
		margin-bottom: 20px;
	}

	.productDescription {
		font-size: 16px;
		font-family: 'Etude Noire Light';
	}

	.productPrice {
		font-size: 32px;
		font-family: 'Etude Noire Light';
		margin-top: 35px;

		> span {
			font-size: 20px;
		}
	}

	.productButton {
		display: flex;
		margin-top: auto;
		color: white;
		background-color: black;
		width: fit-content;
		padding: 8px 24px;
		border: none;
		border-radius: 5px;
		cursor: pointer;

		&:active {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}

.productImages {
	position: relative;
	width: 545px;
	height: 580px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.mainImage {
		width: 545px;
		height: 580px;
		object-fit: cover;
		border-radius: 15px;
		display: block;
	}

	.imageButton {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(255, 255, 255, 0.8);
		border: none;
		padding: 5px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		z-index: 10;

		img {
			width: 32px;
			height: 32px;
		}

		&.leftButton {
			left: -40px;
		}

		&.rightButton {
			right: -40px;
		}
	}

	.buttonNonactive {
		opacity: 0.25;
		cursor: default;
	}
}
