.card {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 350px;
	border-radius: 8px;
	overflow: hidden;

	.fadeImage {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 8px;
		opacity: 1;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		text-align: center;
		color: #fff;
		opacity: 0;
		transition: opacity 0.3s ease;

		.centralInfo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}

		.favButton {
			position: absolute;
			bottom: 5px;
			right: 5px;

			button {
				background: transparent;
				border: none;
				cursor: pointer;
				padding: 2px;
			}
		}
	}

	&:hover {
		.overlay {
			opacity: 1;
		}

		.info {
			opacity: 1;
		}
	}
}

.moreButton {
	font-size: 18px;
	padding: 8px 12px;
	border: 1px solid white;
	border-radius: 12px;
	color: white;
	text-decoration: none;

	&:hover {
		color: black;
		background-color: white;
	}
}
