.createContiner {
	max-width: 1520px;
	margin: 0 auto;
	padding: 40px;

	.orderHeader,
	.totalPrice {
		font-size: 32px;
		font-family: 'Etude Noire Light';
		margin-bottom: 16px;
	}

	.orderInfo {
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;
		gap: 18px;

		input {
			max-width: fit-content;
			padding: 12px 16px;
			border-radius: 15px;
			border: 0.5px solid rgba(0, 0, 0, 0.25);
		}
		.address {
			min-width: 650px;
		}
	}

	.orderItemsGrid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 16px;
		margin-bottom: 16px;
	}

	.orderItem {
		border: 0.5px solid rgba(0, 0, 0, 0.25);
		max-width: fit-content;
		padding: 12px 24px;
		border-radius: 15px;

		img {
			border-radius: 15px;
			width: 250px;
			height: 200px;
			margin-bottom: 14px;
		}

		p {
			font-size: 14px;
		}
	}

	.createOrderButton {
		background-color: black;
		color: white;
		padding: 16px 24px;
	}
}
