.container {
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;

	h2 {
		margin-bottom: 20px;
		font-size: 24px;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
