.title {
	font-size: 20px;
	padding: 16px 8px;
}

.image {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
	border-radius: 15px;
	margin-bottom: 10px;
}

.price {
	display: flex;
	padding-left: 8px;
	font-size: 18px;
	margin-bottom: 16px;
}
