.nav {
	@apply flex items-center justify-between px-6 py-4 bg-black text-[rgba(255,255,255,0.8)] shadow-md;

	.logoWithUser {
		@apply w-[168px];
	}

	.logoWithoutUser {
		@apply w-[298px];
	}

	.navLinks {
		@apply flex items-center gap-6;
	}

	.userActions {
		@apply flex items-center gap-6;
	}
}

.cart {
	position: relative;
}

.totalCartItems {
	display: flex;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 0.5px solid rgb(40, 40, 40);
	color: black;
	z-index: 2;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
